body{
    font-family: Avenir, sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2{
    font-family: 'Times New Roman', Times, serif;
}

ul{
    margin: 0;
}

header{
    height: 100px;
    background-color: #6F4E37;
}